<div class="container container-fluid accueil">
  <%= render 'layouts/navigation' %>
  <%= render 'layouts/messages' %>
  <div class ="row" id = "main-title-row">
    <div class="col-md-12">
      <h1 align="center" id="main-title">MemoRise</h1>
      <p align="center" class="lead" id="subtitle">The Simple and Elegant way to manage your Bookmarks</p>
    </div>
  </div>
</div>