<% obj.each do |memo| %>
  <div class="row">
    <div class="col-md-4">
      <div class="article-title">
            <%= memo.title %>
      </div>
      
      <div class="memo-url">
            <%= memo.url %>
      </div>
    </div>
  </div>
<% end %>